<div class="layer-hidden"></div>
<div id="content-s" class="pa__padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 grid-center pa__box">
      <div class="pa--heading">
        <img src="@Url.Content("~/Content/img/stroberi.png")">
        Perawatan Tanaman (Stroberi)
      </div>
      Keadaan tanaman stroberi saat ini:
      <ul class="pa__list">

        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Jendela
              </div>
              <div class="col-xs-6">
                <strong><div id="jendela">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>

        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Kelembaban
              </div>
              <div class="col-xs-6">
                <strong><div id="kelembaban">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>

        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Lampu
              </div>
              <div class="col-xs-6">
                <strong><div id="lampu">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>

        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Suhu
              </div>
              <div class="col-xs-6">
                <strong><div id="suhu">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>

      </ul>
      <div class="pa__btn-container">
        <a class="btn btn-tosca" href="perawatan-stroberi/form">Rawat Tanaman</a>
      </div>
    </div>
  </div>
</div>
</div>

<script src="@Url.Content("~/Scripts/PerawatanStroberi.js")"></script>