<div class="layer-hidden"></div>
<div id="content-s" class="pa__padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 grid-center pa__box">
      <div class="pa--heading">
        <img src="@Url.Content("~/Content/img/ayam.png")">
        Perawatan Ternak (Ayam)
      </div>
      Keadaan kandang ayam saat ini:
      <ul class="pa__list">
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Jendela
              </div>
              <div class="col-xs-6">
                <strong><div id="jendela">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Kelembaban
              </div>
              <div class="col-xs-6">
                <strong><div id="kelembaban">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Kipas Angin
              </div>
              <div class="col-xs-6">
                <strong><div id="kipas_angin">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Lampu
              </div>
              <div class="col-xs-6">
                <strong><div id="lampu">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Minum
              </div>
              <div class="col-xs-6">
                <strong><div id="minum">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Pakan
              </div>
              <div class="col-xs-6">
                <strong><div id="pakan">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
        <li class="pa__list-li">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                Suhu
              </div>
              <div class="col-xs-6">
                <strong><div id="suhu">Tunggu sebentar...</div></strong>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pa__btn-container">
        <a class="btn btn-tosca" href="perawatan-ayam/form">Rawat Kandang</a>
      </div>
    </div>
  </div>
</div>
</div>

<script src="@Url.Content("~/Scripts/PerawatanAyam.js")"></script>