@{ViewBag.Title = "SCATS - Home";}

<div class="layer-hidden"></div>
<div id="content-s" class="content-s--no-padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-md-12--no-padding tosca-wrapper">
      <div class="container-fluid">
        <div class="row tosca__middle">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <img src="@Url.Content("~/Content/img/scats.png")" alt="SCATS" class="img-responsive center-block" width="425">
              </div>
              <div class="col-md-6 col-md-offset-1 col-md-offset-1--custom">
                <p class="text-justify"><span class="hu--bigger">SCATS</span> atau <span class="hu--bigger">SMART Cattle Treatment System</span> adalah teknologi yang dapat menambah efisiensi perawatan tanaman beserta hewan ternak. Pada tahap ini, SCATS dapat digunakan untuk merawat ayam petelur dan tanaman stroberi. Diharapkan, SCATS dapat membantu pengguna dalam merawat ayam petelur dan tanaman stroberi sehingga perawatan menjadi lebih efisien.</p>
                <a href="perawatan" class="btn btn-red">Coba SCATS!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>