<div class="layer-hidden"></div>
<div id="content-s" class="pa__padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 grid-center">
      <h2 class="perawatan--heading">Pilih mode perawatan:</h2>
      <div class="container-fluid">
        <div class="row perawatan__margin">
          <div class="col-sm-6 text-center">
            <img src="@Url.Content("~/Content/img/rawat-ternak.png")" alt="Rawat Ternak" class="img-responsive center-block">
            <a class="btn btn-red btn-red-margin-p" href="perawatan-ayam">Rawat Ternak</a>
          </div>
          <div class="col-sm-6 text-center perawatan__margin-mobile">
            <img src="@Url.Content("~/Content/img/rawat-tanaman.png")" alt="Rawat Tanaman" class="img-responsive center-block">
            <a class="btn btn-red btn-red-margin-p" href="perawatan-stroberi">Rawat Tanaman</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>